<nav class="navbar navbar-light">
	<div class="d-flex justify-content-between w-100">
		<span class="navbar-brand mb-0 h1">Склад</span>
	</div>
</nav>
<div class="container">
	<div class="row mt-3 mb-3">
		<div class="col-3">Название</div>
		<div class="col-3">Кол-во</div>
		<div class="col-3">Цена</div>
		<div class="col-3"></div>
	</div>
	<div class="row mt-3 mb-3" *ngFor="let product of products; let i = index">
		<div class="col-3">
			{{product.title}}
		</div>
		<div class="col-3">
			<mat-form-field>
				<input matInput type="number" placeholder="Цена" [(ngModel)]="products[i].quantity">
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field>
				<input matInput type="number" placeholder="Цена" [(ngModel)]="products[i].price">
			</mat-form-field>
		</div>
	</div>
</div>
