.cart{
	position: relative;
	button{
		transition: .3s;
		z-index: 99;
		&.isOpen{
			transform: rotate(180deg);
		}
	}
	.cart-content{
		position: absolute;
		top: 25px;
		right: -16px;
		padding: 10px;
		font-size: 14px;
		background: #673ab7;
		z-index: 9;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			button{
				min-width: 20px;
				line-height: 20px;
				margin-right: 15px;
				padding: 0;
			}
		}
	}
}
