<mat-toolbar color="primary">
	<div class="d-flex w-100 justify-content-between">
		<div class="buttons">
			<button mat-raised-button routerLink="shop" *ngIf="!isShop">В магазин</button>
			<button mat-raised-button routerLink="warehouse" *ngIf="isShop">На склад</button>
		</div>
		<div class="cart">
			<button mat-button [ngClass]="{'isOpen': isOpen}" (click)="isOpen = !isOpen">↓</button>
			Кол-во: {{cartTotalCount}}
			Сумма: {{cartTotalPrice}}
			<div class="cart-content" *ngIf="isOpen">
				<ul *ngFor="let product of products; let i = index">
					<li><button mat-raised-button (click)="add(i)">+</button>
						<button mat-raised-button (click)="remove(i)">-</button>
						{{product.title}} ({{product.cartCount}}) - {{product.price * product.cartCount}}</li>
				</ul>
				<div *ngIf="!products.length"><h2>Пока пусто</h2></div>
			</div>
		</div>
	</div>
</mat-toolbar>
