<nav class="navbar navbar-light">
	<div class="d-flex align-items-center">
		<span class="navbar-brand mb-0 h1">Магазин</span>
	</div>
</nav>
<div class="container">
	<div class="row mt-3 mb-3">
		<div class="col-3">Название</div>
		<div class="col-3">Цена</div>
		<div class="col-3">Кол-во</div>
		<div class="col-3"></div>
	</div>
	<div class="row mt-3 mb-3" *ngFor="let product of products; let i = index">
		<div class="col-3">
			{{product.title}}
		</div>
		<div class="col-3">{{product.price}}</div>
		<div class="col-3">{{product.quantity}}</div>
		<div class="col-3"><button [disabled]="!product.quantity" mat-raised-button color="primary" (click)="addToCard(i)">В корзину</button></div>
	</div>
</div>
